<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    RESULTS OF YOUR MATCHES
<table class="table">
<% results.forEach(function(r) { %>
    <tr class="<%= r.highlight %>">
    <td>You</td>
    <td><%= r.winlose %></td>
    <td><%= r.other %></td>
    <td><%= r.time %></td>
    </tr>
<% if (r.taunt != '') { %>
    <tr><td colspan="4" class="text-center"><%= r.taunt %></td></tr>
<%  } %>
<% }) %>
</table>
    </div>
  </div>
<%- include('footer'); %>
