<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    SCORES
<table class="table">
<% scores.forEach(function(p) {
%>
    <tr class="<%= p.css %>">
    <td><%= p.screenname %></td>
    <td><%= p.score %></td>
    </tr>
<% }) %>
</table>
    </div>
  </div>
<%- include('footer'); %>
